body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.suggested-id {
  min-width: 360px;
  text-align: center;
}

.input-row {
  display: flex;
  justify-content: center;
}

.input-row mat-form-field {
  min-width: 360px;
}

.button-row {
  display: flex;
  justify-content: center;
}

.button-row button {
  margin: 10px 30px;
}



