<h1>Play with cypress</h1>
<div class="example-container">
  <div class="suggested-id">
    <h2>Suggest ids</h2>
    <p *ngIf="loginIds"> {{ loginIds }}</p>
  </div>
  <mat-card class="input-container">
    <div class="input-row">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput [(ngModel)]="firstName" data-cy="input-firstName">
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input type="text" matInput [(ngModel)]="lastName" data-cy="input-lastName">
      </mat-form-field>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="sayHi()" data-cy="button-hi">Say Hi</button>
      <button mat-raised-button color="accent" (click)="configHi()" data-cy="button-config">Config Hi</button>
      <button mat-raised-button (click)="clear()">Clear</button>
    </div>
  </mat-card>

  <p *ngIf="showGreetings" data-cy="greetings"> {{ hi }}, {{ name }}</p>
</div>
